classes/
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

.idea/
*.iml
*.jpr
*.iws
*.sublime-project
*.sublime-workspace
caches/
native/
mte/
meta-message/
.classpath
.project
.settings/

out/

.sjbash/
build/
/*.sql
/*.txt
/*.xlsx
/*.properties
/*.bak*

node_modules

.coveralls.yml