[submodule "command-man"]
    path = job/hoya/hoya-core/command-man
    url = https://github.com/avaj-java/command-man.git
[submodule "common-man"]
	path = job/hoya/hoya-core/common-man
	url = https://github.com/avaj-java/common-man.git
[submodule "common-util"]
    path = job/hoya/hoya-core/common-util
    url = https://github.com/avaj-java/common-util.git
[submodule "fileman"]
    path = job/hoya/hoya-core/fileman
    url = https://github.com/avaj-java/fileman.git
[submodule "restman"]
	path = job/hoya/hoya-core/restman
	url = https://github.com/avaj-java/restman.git
[submodule "reportman"]
	path = job/hoya/hoya-core/reportman
	url = https://github.com/avaj-java/reportman.git
