classes/
.gradle/
gradle/
.idea/
*.iml
*.jpr
*.iws
*.sublime-project
*.sublime-workspace
caches/
native/
mte/
meta-message/
.classpath
.project
.settings/

out/

.sjbash/
build/
/*.sql
/*.txt
/*.xlsx
/*.properties
/*.bak*